body {
    box-sizing: content-box;
    background: #858591;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
    background-color: #dfdfe257;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}