
.TodoItem {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.TodoItem ul {
    margin: 0 auto;
}

.OverTaskButton, .FinishTaskButton {
    position: absolute;
    border-radius: 100%;
    top: 8px;
    border: none;
    color: antiquewhite;
    background-color: #5c58b6;
    font-weight: 100;
}

.OverTaskButton:hover , .FinishTaskButton:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: #5c58b6;
}

.OverTaskButton {
    left: -14px;
}

.FinishTaskButton {
    left: 314px;
}